<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <header class="header">
        <select
          @change.prevent="genreFilter"
          name="genre"
          v-model="currentGenre">
          <option disabled selected>--Seleziona genere--</option>
          <option v-for="genre in getGenres" :value="genre">{{genre}}</option>
        </select>
      </header>
      <main class="main">
        <div class="container ">
          <section class="albums" id="library">
            <div class="container">
          <div v-for="(album, idx) in albums" :key="idx" class="card">
            <img :src="album.poster" :alt="album.title" class="card__img" />
            <h4 class="card__title">{{album.title}}</h4>
            <div class="card__info">
              <div>{{album.author}}</div>
              <div>{{album.year}}</div>
            </div>
          </div>
        </div>
          </section>
        </div>
      </main>
    </div>

    <script src="main.js"></script>
  </body>
</html>